body{
	width: 100%;
	background-color: #fff;
	min-width: 960px;
}
.container{
	width: 960px;
	min-width: 960px;
	margin: 0 auto;
}
.logo{
	margin-left: 0px;
}
.order-content{
	background-color: #f4f4f4;
	padding-top: 30px;
}
.order-form{
	width: 960px;
	height: auto;
	position: relative;
/*	margin-bottom: */
}
.order-form .order-tit{
	height: 46px;
	background-color: #262626;
	font-size: 13px;
	color: #fff;
	text-align: center;
	line-height: 46px;
	background: url(../images/logo2.jpg)  no-repeat 20px center;
	background-color: #262626;


}
.order-tit span{
	display: inline-block;
	float: right;
}
.order-tit span:nth-child(1) {
	width: 90px;
}
.order-tit span:nth-child(2) {
	width: 120px;
}
.order-tit span:nth-child(3) {
	width: 150px;
}
/*.order-tit span:nth-child(4) {
	width: 120px;
}
.order-tit span:nth-child(5){
	width: 90px;
}*/
.order-con ul li{
	height: 112px;
}
/*.order-con .top{
	height: 46px;
	background-color: #262626;
}*/
.order-con .buttom{
	width: 960px;
	height: 112px;
	border-right: 1px solid #bebdbd;
	border-left: 1px solid #bebdbd;
	border-bottom: 1px solid #bebdbd;
	/*box-shadow: 0px 0px 1px #d9d7d7;*/
	background-color: #fff;
}
/*.order-con .top span{
	float: left;
	margin: 0 40px;
	font-size: 13px;
	line-height: 46px;
	color: #fff;
}*/
.order-con .buttom .bor{
	/*border-right: 1px solid #bebdbd;*/
}
.model-info{
	float: left;
	width: 597px;
	display: inline-block;
	height: 112px;
	line-height: 112px;
}
.model-info .icon{
	display: inline-block;
	width: 93px;
	height: 93px;
	margin: 0px 8px;
}
.model-info .icon a img{
	width: 93px;
	height: 93px;
}
.model-name{
	display: inline-block;
	width: 200px;
	font-size: 14px;
	color: #000;
	margin: 0 25px;
	line-height: 112px;
}
.price{
	float: left;
	width: 149px;
	display: inline-block;
	height: 112px;
	text-align: center;
}
.price-num{
	text-indent: -4px;
	font-size: 15px;
	margin: 0 auto;
	margin-top: 26px;
	margin-bottom: 11px;
	font-weight: bold;
}
.serve-date{
	margin: 0 auto;
}
.serve-date p{
	font-size: 12px;
	line-height: 17px;
	color: #888888;
}
/*.state{
	float: left;
	display: inline-block;
	width: 119px;
	height: 112px;
	text-align: center;
	line-height: 112px;
	font-size: 14px;
}*/
.payment{
	float: left;
	width: 119px;
	display: inline-block;
	height: 112px;
	text-align: center;
	padding: 43px 0px;
}
.payment-num{
	text-indent: -4px;
	font-size: 15px;
	font-weight: bold;
}
.cut{
	font-size: 12px;
	margin-top: 6px;
	color: #888888;
}
.delete{
	float: left;
	width: 89px;
	height: 112px;
	display: inline-block;
	text-align: center;
	line-height: 112px;
}
.delete p{
	color: #888888;
	font-size: 13px;
	cursor: pointer;
}
.page{
	position: static;
	display: block;
	/*height: 100px;*/
	margin-bottom: 10px;
	float: right;
	padding-right: 30px;
	
}

.holder {
	margin-top: 20px;
	height: 42px;
}
.holder a {
	font-size: 12px;
	cursor: pointer;
	margin: 0 5px;
	color: #333;
}
.holder a:hover {
	background-color: #222;
	color: #fff;
}
.holder a.jp-previous { margin-right: 15px; }
.holder a.jp-next { margin-left: 15px; }
.holder a.jp-current, a.jp-current:hover {
	color: #FF4242;
	font-weight: bold;
}
.holder a.jp-disabled, a.jp-disabled:hover {
	color: #bbb;
}
.holder a.jp-current, a.jp-current:hover,
.holder a.jp-disabled, a.jp-disabled:hover {
	cursor: default;
	background: none;
}
.holder span { margin: 0 5px; }

.settle-box{
	height: 110px;
	margin-top: 30px;
	padding: 0px 20px;
	padding-right: 40px;
	margin-bottom: 90px;
	border:1px solid #bebdbd;
	background-color: #fff;
}
textarea{
	margin-top: 20px;
	width: 300px;
	height: 66px;
	overflow: hidden;
	color: #000;
	background-color: #f4f4f4;
	resize: none;
}
.remarks{
	display: inline-block;
}
.remarks p{
	position: relative;
	top: -50px;
	display: inline-block;
	font-size: 14px;
	color: #888888;

}
.total-account{
	width: 120px;
	float: right;
	line-height: 110px;
}
.total-account .account{
	font-size: 20px;
	font-weight: bold;
}
.pay{
	position: relative;
	top: 19px;
	left:659px;
	width: 280px;
	height: 60px;
	background-color: #262626;
	color: #fff;
	line-height: 60px;
	font-size: 18px;
	letter-spacing: 2px;
	text-align: center;
}